.form-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .form {
      height: 65vh;
    width: 22vw;
    background: slateblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vw;
 }
.form form {
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;

}
 

.form-container form h1{
    color: white;
}

.form-container form input{
    height: 5vh;
    text-align: center;
    width: 17vw;
    border-radius:10px;
}

.form-container form button{
    padding: 0.5vw 3vw 0.5vw 3vw;
    background-color: black;
    color: white;
    border-radius: 0.5vw;
    border: none;
    cursor: pointer;
}

.anchor{
  color: blue;
  cursor: pointer;
}